<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	 <head>
	<div>
		<script>
		function msg()
		{
			alert("Good Bye ! Come again later")
		}
		</script>
    	   	<% if current_user %>
            <p>Welcome: <%= current_user.email %> !</p>
    	  <body>
    	        </br>
				<form  action="/logout" method="get">
				<input type="hidden" name="method" value="">
				<input class="button" type="submit" value="LogOut" onclick="msg()">
				<a href='/users/links' class="button">Add Link</a>
				</form>
				<% else%>	
				<a href='/users/welcome' class="button">TEST</a>
				<a href='/users/new'class="button">Sign Up</a>
				<a href='/sessions/new' class="button">Log in</a>
			<h3>Welcome to Chitter App !</h3>
		</body>	
		<% end%>
		 <div class="links">
			<ul>
				<%@links.each  do |link|%>
				<li><a href="<%=link.url%>"><%=link.title%>  <code class="posted_by"> posted by: $NickName</code></a>
				</li>
				<% end%>
			</ul>
		 </div>
	</div>	
</html>