  <% if current_user %>
   <div class="current_user"> 
            <p>Welcome: <%= current_user.email %> !</p>
   </div>
   <% end%>
   <%= erb :posted_links, :layout => false %>

  <% unless current_user %>
   <%= erb :login_form, :layout =>false %>
    <% end %>