<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Chitter App</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  
  <%= yield %>

    <section class="about">
      <p class="about-links">
        <% if current_user %>
          <a href="/" target="_parent">Home</a>
          <a href="/logout" target="_parent">Sign Out</a>
          <a href="/users/links" target="_parent">Create Link</a>
          <a href="#" target="_parent">Help</a>
          <% else%>
          <a href="/users/new" target="_parent">SignUp</a>
          <a href="/sessions/new" target="_parent">Login</a>
          <a href="#" target="_parent">Help</a>
          <a href="#" target="_parent">Github</a>
        <% end %>
        
      </p>
      <p class="about-author">
        <a href="#" target="_blank"></a>
        <a href="#" target="_blank"></a>
        <a href="#" target="_blank"></a>
      </p>
    </section>
</body>
</html>