<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	</head>
		<body>
				<p>Login Form:</p>
				<a class="button" href="/">Home</a>
				<a class="button" href="/sessions/new">Login</a>
				<a class="button" href="#">About</a>
			<div class="login-box">
				<form action="/sessions" method="post">
				<input name="email" type="text"placeholder="Your email">
				<input name="password" type="password"placeholder="Your password">
				<input class="submit" type="submit" value="Login">
				</form>
				<div class='flash'>
  					<p ><%= flash[:errors] %></p>
				</div>
			</div>
			<div class="links">
				<section>
			<ul>
				<%@links.each  do |link|%>
			<li><a href="<%=link.url%>"><%=link.title%> <code class="posted_by">posted by: $NickName</code></a></li>
			<% end%>
			</ul>
		</section>
	</div>
	</body>
</html>