<htnl>
	<head>
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	</head>
		<body>
			
			<div class="chitter-login-box">
				<form action="/sessions" method="post">
				<input name="email" type="text"placeholder="Your email">
				<input name="password" type="password"placeholder="Your password">
				<input class="submit" type="submit" value="Login">
				</form>
			<div class='flash'>
  				<p ><%= flash[:errors] %></p>
			</div>
		
				<form action="/users" method="post">
					<input name="email" type="text" value=""placeholder="Your email">
					<input name="password" type="password" placeholder="Your password">
			 	  	<input name="password_confirmation" type="password" placeholder="Confirm your password">
				  	<input class="submit"type="submit" value="Sign up">
				</form>
			</div>
		</div>
	<div class="">
		<section>
			<ul>
				<%@links.each do |link|%>
				<li><a href="<%=link.url%>">    <%=link.title%></li>
				<% end%>
			</ul>
		</section>
	</div>
	</body>
</html>