

<div class="login">
  <h1>Create new link</h1>
  <form method="post" action="/links">
        <p><input type="text" name="url" value="" placeholder="Post your Url"></p>
        <p><input type="text" name="title" value="" placeholder="Title for url"></p>
        <p><input type="text" name="tags" value="" placeholder="Tag for url"></p>
        <p class="submit"><input type="submit" name="commit" value="Create it"></p>
      </form>
    </div>
  </section>