<html>
	<body><h3>Please enter your link: </h3>
		<div>
			<form action="/links" method="post">
			<input name="url" type="text"placeholder="Your Url">
			<input name="title" type="text"placeholder="Your Title">
			<input name="tags" type="text"placeholder="Your Tags">
			<input type="Submit" value="Add link">
			</form>
			</div>
	</body>
</html>