<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<a class="button" href="/">Home</a>
		<a class="button" href="#">Help</a>

		<p>Create New Link: </p>
		<div class="new-link">
			<form action="/links" method="post">
			<input name="url" type="text"placeholder="Your Url">
			<input name="title" type="text"placeholder="Your Title">
			<input name="tags" type="text"placeholder="Your Tags">
			<input type="Submit" value="Add link">
			</form>
			</div>
	</body>
</html>