<html>
<h1>Please sign up</h1>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/default.css">
	</head>
	<div class="login-box">
		<form action="/users" method="post">
		<input name="nick" type="text" value="" placeholder="Your NickName:">
		<input name="email" type="text" value=""placeholder="Your email">
		</br>
		<input name="password" type="password" placeholder="Your password">
	 	
	  <input name="password_confirmation" type="password" placeholder="Confirm your password">
	  <input type="submit" value="Sign up">
	  <button><a href='/'>Cancel</a></button>
	</form>
</div>
</html>
