<h1>Please sign up</h1>

<form action="/users" method="post">
   <input name="email" type="text" value=""placeholder="Your email">
</br>
  <input name="password" type="password" placeholder="Your password">
 </br>
  <input name="password_confirmation" type="password" placeholder="Confirm your password">
 </br> 
  <input type="submit" value="Sign up">
  <button><a href='/'>Cancel</a></button>
</form>
